<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" cookieless="false" timeout="10"/>
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
  <connectionStrings>
    <add name="bd_tp_Entities" connectionString="metadata=res://*/bd_tp.csdl|res://*/bd_tp.ssdl|res://*/bd_tp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AGUSTIN\SQLEXPRESS;initial catalog=bd_tpweb_3;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>
