body{
    font-family: "Helvetica","Verdana","Arial";
    padding-top: 50px;
    height: 100%;
}
.pie{
    text-align: center;
    margin-top: 40px;
}

.center {
    text-align: center;
}
.input-log {
    width: 40em;
}
.tablaComentarios {
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
}
